In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
! pip install -i https://test.pypi.org/simple/ my-krml-adv_mla_2023==0.1.2

Looking in indexes: https://test.pypi.org/simple/
Collecting my-krml-adv_mla_2023==0.1.2
  Downloading https://test-files.pythonhosted.org/packages/30/2c/158473c14a1c661eaa7361bb3e06f78aea7fdfb81be99c9ef22380b69c38/my_krml_adv_mla_2023-0.1.2-py3-none-any.whl (6.2 kB)
Requirement already satisfied: pandas==2.0.1 in /Users/narongvatchingpayakmon/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-x7i-u8vi-py3.9/lib/python3.9/site-packages (from my-krml-adv_mla_2023==0.1.2) (2.0.1)
Requirement already satisfied: scikit-learn==1.2.2 in /Users/narongvatchingpayakmon/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-x7i-u8vi-py3.9/lib/python3.9/site-packages (from my-krml-adv_mla_2023==0.1.2) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/narongvatchingpayakmon/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-x7i-u8vi-py3.9/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-adv_mla_2023==0.1.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/narongvatchingpayakmon/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-x7i-u8vi-py3.9/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-adv_mla_2023==0.1.2) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/narongvatchingpayakmon/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-x7i-u8vi-py3.9/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-adv_mla_2023==0.1.2) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/narongvatchingpayakmon/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-x7i-u8vi-py3.9/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-adv_mla_2023==0.1.2) (1.26.2)
Requirement already satisfied: scipy>=1.3.2 in /Users/narongvatchingpayakmon/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-x7i-u8vi-py3.9/lib/python3.9/site-packages (from scikit-learn==1.2.2->my-krml-adv_mla_2023==0.1.2) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /Users/narongvatchingpayakmon/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-x7i-u8vi-py3.9/lib/python3.9/site-packages (from scikit-learn==1.2.2->my-krml-adv_mla_2023==0.1.2) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/narongvatchingpayakmon/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-x7i-u8vi-py3.9/lib/python3.9/site-packages (from scikit-learn==1.2.2->my-krml-adv_mla_2023==0.1.2) (3.2.0)
Requirement already satisfied: six>=1.5 in /Users/narongvatchingpayakmon/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-x7i-u8vi-py3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas==2.0.1->my-krml-adv_mla_2023==0.1.2) (1.16.0)
Installing collected packages: my-krml-adv_mla_2023
Successfully installed my-krml-adv_mla_2023-0.1.2

[notice] A new release of pip is available: 23.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("../data/raw/yellow_tripdata_2020-04.csv")

/var/folders/3w/x3y82fg55p71509st75l3mth0000gn/T/ipykernel_29100/3103678577.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/raw/yellow_tripdata_2020-04.csv")

In [5]:
df.head()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1.0,2020-04-01 00:41:22,2020-04-01 01:01:53,1.0,1.20,1.0,N,41,24,2.0,5.5,0.5,0.5,0.00,0.0,0.3,6.80,0.0
1,1,1.0,2020-04-01 00:56:00,2020-04-01 01:09:25,1.0,3.40,1.0,N,95,197,1.0,12.5,0.5,0.5,2.75,0.0,0.3,16.55,0.0
2,2,1.0,2020-04-01 00:00:26,2020-04-01 00:09:25,1.0,2.80,1.0,N,237,137,1.0,10.0,3.0,0.5,1.00,0.0,0.3,14.80,2.5
3,3,1.0,2020-04-01 00:24:38,2020-04-01 00:34:38,0.0,2.60,1.0,N,68,142,1.0,10.0,3.0,0.5,1.00,0.0,0.3,14.80,2.5
4,4,2.0,2020-04-01 00:13:24,2020-04-01 00:18:26,1.0,1.44,1.0,Y,263,74,1.0,6.5,0.5,0.5,3.00,0.0,0.3,13.30,2.5

In [6]:
df.shape

(237993, 19)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237993 entries, 0 to 237992
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             237993 non-null  int64
 1   VendorID               218480 non-null  float64
 2   tpep_pickup_datetime   237993 non-null  object
 3   tpep_dropoff_datetime  237993 non-null  object
 4   passenger_count        218480 non-null  float64
 5   trip_distance          237993 non-null  float64
 6   RatecodeID             218480 non-null  float64
 7   store_and_fwd_flag     218480 non-null  object
 8   PULocationID           237993 non-null  int64
 9   DOLocationID           237993 non-null  int64
 10  payment_type           218480 non-null  float64
 11  fare_amount            237993 non-null  float64
 12  extra                  237993 non-null  float64
 13  mta_tax                237993 non-null  float64
 14  tip_amount             237993 non-null  float64
 15  tolls_amount           237993 non-null  float64
 16  improvement_surcharge  237993 non-null  float64
 17  total_amount           237993 non-null  float64
 18  congestion_surcharge   237993 non-null  float64
dtypes: float64(13), int64(3), object(3)
memory usage: 34.5+ MB

In [8]:
df.describe()

,Unnamed: 0,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,237993.000000,218480.000000,218480.000000,237993.000000,218480.000000,237993.000000,237993.000000,218480.000000,237993.000000,237993.000000,237993.000000,237993.000000,237993.000000,237993.000000,237993.000000,237993.000000
mean,118996.000000,1.564949,1.296764,4.039981,1.034081,154.908422,150.361414,1.425673,11.666027,1.066739,0.487000,1.530229,0.220504,0.296331,16.408621,1.927536
std,68702.805645,0.495765,0.983595,294.879052,0.865044,70.749496,74.474108,0.555915,11.728767,1.260170,0.094993,2.295523,1.342351,0.045429,13.155858,1.072839
min,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-118.000000,-4.500000,-0.500000,-5.000000,-19.870000,-0.300000,-138.170000,-2.500000
25%,59498.000000,1.000000,1.000000,0.950000,1.000000,97.000000,75.000000,1.000000,5.500000,0.000000,0.500000,0.000000,0.000000,0.300000,9.800000,2.500000
50%,118996.000000,2.000000,1.000000,1.740000,1.000000,143.000000,143.000000,1.000000,8.000000,0.500000,0.500000,1.000000,0.000000,0.300000,12.800000,2.500000
75%,178494.000000,2.000000,1.000000,3.400000,1.000000,234.000000,233.000000,2.000000,13.000000,2.500000,0.500000,2.460000,0.000000,0.300000,18.360000,2.500000
max,237992.000000,2.000000,7.000000,126501.770000,99.000000,265.000000,265.000000,4.000000,903.020000,7.000000,1.100000,117.280000,98.750000,0.300000,903.320000,2.500000

In [9]:
df_cleaned = df.copy()

In [11]:
from my_krml_adv_mla_2023.features.dates import convert_to_date

In [12]:
df_cleaned = convert_to_date(df_cleaned, ['tpep_pickup_datetime', 'tpep_dropoff_datetime'])

In [13]:
df_cleaned['trip_duration'] = (df_cleaned['tpep_dropoff_datetime'] - df_cleaned['tpep_pickup_datetime']).dt.total_seconds()

In [14]:
df_cleaned['trip_duration'] = pd.cut(df_cleaned['trip_duration'], bins=[-1, 300, 600, 1800, 300000], labels=[0, 1, 2, 3])

In [15]:
df_cleaned['tpep_pickup_dayofmonth'] = df_cleaned['tpep_pickup_datetime'].dt.day

In [16]:
df_cleaned['tpep_pickup_hourofday'] = df_cleaned['tpep_pickup_datetime'].dt.hour

In [17]:
df_cleaned['tpep_pickup_dayofweek'] = df_cleaned['tpep_pickup_datetime'].dt.dayofweek

In [18]:
df_cleaned = pd.get_dummies(df_cleaned, columns=['VendorID', 'RatecodeID', 'store_and_fwd_flag'])

In [19]:
df_cleaned.drop(['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'PULocationID', 'DOLocationID'], axis=1, inplace=True)

In [20]:
df_cleaned.to_csv('../data/interim/yellow_tripdata_2020-04_prepared.csv', index=False)

In [21]:
from my_krml_adv_mla_2023.data.sets import pop_target, split_sets_random

features, target = pop_target(df_cleaned, target_col='trip_duration')
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(features, target, test_ratio=0.2)

In [22]:
from my_krml_adv_mla_2023.data.sets import save_sets

In [23]:
save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='../data/processed/')

In [24]:
from my_krml_adv_mla_2023.models.null import NullClassifier

In [25]:
base_model = NullClassifier()

In [26]:
y_base = base_model.fit_predict(y_train)

Mode calculation successful. Mode: 1

In [27]:
from my_krml_adv_mla_2023.models.performance import print_classifier_scores
print_classifier_scores(y_preds=y_base, y_actuals=y_train, set_name="Training")

Accuracy Training: 0.34539024475646907
F1 Training: 0.17733802015864514